.DS_Store
cat.pdf
creationdate.lua
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.xml
tables
logo

README.tex
abstract.tex
adaptive-full.tex
cat.acn
cat.acr
cat.alg
cat.glg
cat.glo
cat.gls
cat.glsdefs
cat.ist
cat.lng
cat.lof
cat.lot
cat.nlo
cat.nls
code.tex
comparison.tex
dpp.tex
factorization.tex
figures/adaptive.pdf
figures/compnum.pdf
figures/crossval.pdf
figures/fa.pdf
figures/genma.pdf
figures/irt.pdf
figures/knowledge-space.pdf
figures/learning-path.pdf
figures/mst.pdf
figures/predict.pdf
figures/standalonex.cls
figures/traintest.pdf
figures/vectors.pdf
genma.tex
intro-dpp.tex
intro-framework.tex
intro-genma.tex
intro-mooc.tex
intro.tex
merci.tex
mooc.tex
pdfa.xmpi
perspectives.tex
soutenance.tex
summary-en.tex
summary.tex
